<!-- INCLUDE ucp_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
<span class="corners-top"><span></span></span>
    <h3>janrain profile</h3>
    <div class="inner">
    <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
    <!-- PHP -->echo janrain_capture_screen('edit-profile');<!-- ENDPHP -->
    
    </div>
    <fieldset>
    <h3>phpbb custom profile fields</h3>
    <!-- BEGIN profile_fields -->
        <dl>
            <dt><label<!-- IF profile_fields.FIELD_ID --> for="{profile_fields.FIELD_ID}"<!-- ENDIF -->>{profile_fields.LANG_NAME}:<!-- IF profile_fields.S_REQUIRED --> *<!-- ENDIF --></label>
            <!-- IF profile_fields.LANG_EXPLAIN --><br /><span>{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF --></dt>
            <!-- IF profile_fields.ERROR --><dd class="error">{profile_fields.ERROR}</dd><!-- ENDIF -->
            <dd>{profile_fields.FIELD}</dd>
        </dl>
    <!-- END profile_fields -->
    </fieldset>
    <span class="corners-bottom"><span></span></span>
</div>

<!-- INCLUDE ucp_footer.html -->